img{
  width: 135%;
  border-radius: 10px;
}

.price{
  color: rgb(163, 10, 10);
  font-weight: 700;
}

#items-container{
  display: flex;
  justify-content: space-around;
  width: 70%;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  margin-top: 50px;
 
}

.icon{
  width: 20px;
  margin-right: 10px;
}
.category{
    color: rgba(145, 133, 133, 0.897);
  font-weight: 700;
}
.name{
  font-size: 15px;
}
.container{
    display: flex;
}


.item-card{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    padding: 15px;
    text-align: center;
    margin-left: 30px;
}

.panier{
    font-size: 20px;
    font-weight: 700;
    color: rgb(163, 10, 10);
}
.img-panier{
    width: 40%;
}

.text-panier {
    font-weight: 600;
    color: rgba(145, 133, 133, 0.897);
}
.button-add{
  background-color: white;
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 50px;
  border: 2px solid gray;
  margin-left: 50px;
  /* position: absolute;
  bottom:  31.5%; */
}